**.dcu
**.bmp
**.d
**.ddp
**.drc
**.gex
**.ico
**.ICO
**.identcache
**.log
**.map
**.o
**.ncb
**.sln
**.suo
**.dproj*
**.vcproj*
**.cbproj*
**.exe
**CVS
**__history
**backup
**.*ignore
**.svn
*.*~*
**.bak
**.cfg
**.dof
**.mes
**.dsk
**.lpi
**.*groupproj*
**.tvsconfig
**.local
**.stat
**.gid
**.lpi
**.res
**.otares
**.aqt
*bin
sonar-*
config.default
Thumbs.db
Demos/Main Demos/bin
Demos/Main Demos/lib
Demos/Other Demos/*/bin
Demos/Other Demos/*/lib
Demos/Other Demos/*/cache
package/lib
package/XE2BCB
*eay*.dll
/Demos/Compiled Framedemo/Cache
**.hpp
